.App {
  width: 100%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.App-nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #9dd1fe;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 600;
  z-index: 101;
}

.App-nav-link {
  text-decoration: none;
  color: black;
  padding: 10px;
  line-height: normal;
}

.App-nav-active {
  background-color: #FFF3CD;
}